!!!
%html
  %head
    %title Eris
    %meta{:charset => "utf-8"}/
    %meta{:content => "Eris: Reclaiming the Interwebs", :name => "description"}/
    %meta{:content => "Project Douglas", :name => "author"}/
    %link{:href => "assets/styles/application.css", :rel => "stylesheet"}/
  %body
    %div{ data: { bind: "foreach: alerts" } }
      %div{ data: { bind: "alert: $data" } }
    %nav.navbar.navbar-default{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{ data: { toggle: "collapse", target: "#bs-example-navbar-collapse-1" } }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-affix
            %li
              %a{href: '/'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-inbox
              %h4 My DAO
            %li
              %a{href: '/vote'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-th-large
              %h4 Vote
            %li
              %a{href: '/discuss'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-road
              %h4 Discuss
            %li
              %a{href: '/moderate'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-play-circle
              %h4 Moderate
            %li
              %a{href: '/configure'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-cog
              %h4 Configure
    .container.col-xs-12.col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
      .row
        %br
      =yield
  %script{:src => "/assets/scripts/application.js"}