//= require ../scripts/bootstrap/dist/css/bootstrap
//= require ../scripts/bootstrap/dist/css/bootstrap-theme

.navbar {
  min-height: 0;
}

.navbar-default {
  background: transparent;
  border: transparent;
  box-shadow: none;
}

.navbar-toggle {
  border: transparent;
}

.navbar-collapse {
  position: fixed;
  top: 50px;
  right: 30px;
  width: 8em;
  background: #fff;
  text-align: center;
  z-index: 2;
}

.navbar-index {
  position: relative;
  top: 50px;
  height: 50%;
  width: 100%;
  background: transparent;
  text-align: center;
}

#newcontent {
  padding-top: 3em;
}

.vote-pad {
  padding-left: 10px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  }
}