!!!
%html
  %head
    %title Eris
    %meta{:charset => "utf-8"}/
    %meta{:content => "Eris: Reclaiming the Interwebs", :name => "description"}/
    %meta{:content => "Project Douglas", :name => "author"}/
    %link{:href => "/assets/styles/application.css", :rel => "stylesheet"}/
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{ data: { toggle: "collapse", target: "#bs-example-navbar-collapse-1" } }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-affix
            %li
              %a{href: '#'}
                %button#doug.btn.btn-default.btn-lg.glyphicon.glyphicon-inbox{ data: { toggle: 'modal', target: '.doug-modal' } }
              %h4 My DAO
            %li
              %a{href: '/issueslist'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-th-large
              %h4 Vote
            %li
              %a{href: '/view'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-road
              %h4 Discuss
            %li
              %a{href: '/flaggedlist'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-play-circle
              %h4 Moderate
            %li
              %a{href: '/configure'}
                %button.btn.btn-default.btn-lg.glyphicon.glyphicon-cog
              %h4 Configure

    .container.col-xs-12.col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
      .modal.fade.doug-modal{ role: "dialog" }
        .modal-dialog
          .modal-content
            .modal-header
              %button{ type: "button", class: "close", data: { dismiss: "modal" } } &times;
              %h4.modal-title Current Community
            .modal-body
              %p.pull-left= $doug
              - if @watched.include? $doug
                %form.pull-right{ action:"../view/#{$doug}/unsubscribe", method: 'post'}
                  %input.button.btn.btn-warning{type:'submit', value: 'Unsubscribe to This Community'}
              - else
                %form.pull-right{ action:"../view/#{$doug}/subscribe", method: 'post'}
                  %input.button.btn.btn-success{type:'submit', value: 'Subscribe to This Community'}
              .clearfix
              %hr
              .row
                .col-md-10.col-md-offset-1
                  %form.form.form-horizontal{ role: 'form', action:"/set_doug", method: 'post'}
                    .form-group
                      %label{ for: 'newDoug' } New Community
                      %input.form-control{ id: 'newDoug', name: 'newDoug'}
                    .text-center
                      %input.button.btn.btn-info{ type:'submit', value: 'Switch Communities' }
                      %input.button.btn.btn-primary{ type: 'submit', value: 'Request to Join this Community', name: 'join_and_subscribe' }
              %hr
              .text-center
                %form{ action:"/deployDoug", method: 'post'}
                  %input.button.btn.btn-success{type:'submit', value: 'Deploy a New Community (be patient, this will take some time)'}
      .row
        %br
      =yield
  %script{:src => "/assets/scripts/application.js"}